<!DOCTYPE html>
<html>
  <head>
    <title>Ansible Repo Test</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
      rel="stylesheet"
    />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <style>
      body {
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        background-color: #fdfdfd;
      }
      .shadow {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
      }
      .btn-danger {
        color: #fff;
        background-color: #f00000;
        border-color: #dc281e;
      }
      .masthead {
        background: #3398e1;
        height: auto;
        padding-bottom: 15px;
        box-shadow: 0 16px 48px #e3e7eb;
        padding-top: 10px;
      }
    </style>

    <!-- Navigation -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light shadow"
      id="mainNav"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Ansible Repo Test</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item text-black">
              <a class="nav-link text-black font-weight-bold" href="#">About</a>
            </li>
            <li class="nav-item text-black">
              <a class="nav-link text-black font-weight-bold" href="#"
                >Policy</a
              >
            </li>
            <li class="nav-item text-black">
              <a class="nav-link text-black font-weight-bold" href="#"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
    <!-- Footer -->
    <footer class="py-3 bg-grey">
      <p class="m-0 text-dark text-center">Copyright &copy; Nokia</p>
    </footer>
  </body>
</html>
